body {
  font-family: sans-serif;
  align-items: center;
  align-content: center;
  background-color: #232323;
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: purple;
  font-size: 50px;
  letter-spacing: 4px;
  text-shadow: 3px 3px black;
}

.players {
  margin: auto;
  display: grid;
  grid-template-columns: 1rem 10rem;
  grid-template-rows: 2rem 2rem;
  align-items: center;
  color: bisque;
  justify-content: center;
}

#start {
  margin: auto;
  display: grid;
  grid-template-columns: 11rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  color: bisque;
}

#gameboard {
  background-color: #232323;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  max-width: 19rem;
  margin: auto;
}

#gameboard span {
  background-color: #ddd;
  display: grid;
  place-content: center;
  font-size: 5rem;
}

#gameboard span.win {
  background-color: #25a430;
}

.cursor-pointer {
  cursor: pointer;
}
